@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.feature-card {
  @include card;
  @include hover-lift;
  text-align: center;

  &__icon {
    font-size: $font-size-4xl;
    margin-bottom: $spacing-md;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $gray-900;
    margin-bottom: $spacing-sm;
  }

  &__description {
    font-size: $font-size-md;
    color: $gray-600;
    line-height: 1.6;
    margin-bottom: 0;
  }
}
